/* ProgramarTurno.module.css */

.programarTurnoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.programarTurnoForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.programarTurnoForm input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.programarTurnoForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.programarTurnoForm button:hover {
    background-color: #0056b3;
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}